*{
    margin: 0;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype'),
         url('fonts/OpenSans-Regular.woff') format('woff'),
         url('fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('fonts/DMSans-Regular.ttf') format('truetype'),
         url('fonts/DMSans-Regular.woff') format('woff'),
         url('fonts/DMSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  


.middlePosition{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
}

.title{
    color: white; 
    font-family: 'DM Sans', sans-serif;
    font-size: 60px; 
    padding-top: 20px; 
}

.title2{
    color: white;
    font-family: 'Open Sans', sans-serif; 
    font-size: 60px;
    padding-top: 5px; 
}

.subtitle{
    color: white; 
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: lighter;  
    padding-top: 30px; /* adjusts the width beteen the words */
    margin-bottom: 50px; /* adds some space between titles and subtitle */
    text-align: center; 
}


html, body{
    height: 100%; 
}
body {
    background-image: url('background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

button{
    background-color: transparent;
    border: 1px solid white; 
    color: inherit;
    cursor: pointer; 
    font-family: helvetica, sans-serif;
    color: white; 
    padding: 15px 28px; 
    font-size: 20px; 
    margin-top: 60px; 
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: white;
    color: black; 
}

.socialMedia {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px;
  }
  
.socialMedia img {
    width: 30px;
    height: auto;
    margin: 0 10px;
  }
/* Mobile devices 576 px */
@media (max-width: 576px) {
    .middlePosition {
      height: auto;
      padding: 50px 20px;
    }
  
    .title, .title2 {
      font-size: 30px;
      padding-top: 10px;
    }
  
    .subtitle {
      font-size: 16px;
      padding-top: 20px;
      margin-bottom: 30px;
    }
  
    button {
      margin-top: 30px;
      font-size: 16px;
      padding: 10px 20px;
    }
  
    .socialMedia {
      padding: 5px;
    }
  
    .socialMedia img {
      width: 20px;
      margin: 0 5px;
    }
  }
   
